/* App.css */
body {
  background-image: url('./image/backgroundImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  margin: 0;
  padding: 0px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


form {
  background: rgb(0, 0, 0, 0.7);
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border:solid; 
  border-color: #19258f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label { 
  color: #cccaca;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}


input, textarea {
  background-color: #cccaca ;
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 4px; 
 
}


button{
  width: 270px;
  padding: 10px;
  background: #19258f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

}
.button {
  display: grid;
  grid-template-columns: auto 0%; /* 1fr para o texto, auto para o loader */
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 0px;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
}

button:hover {
  background: #7d89fd;
}

.loader{
  margin-left: 15px;
}

p {
  margin-top: 10px;
}


.message{
  margin-left: 125px;
    opacity: 1;
    transition: opacity 1s ease-out; /* Transição de fade out */
}
  
  .fade-out {
    opacity: 0; /* Fade out */
  }
